<div class='postimageform'>
  <%= form_for @post do |f| %>
  	<%= f.label :description %>
  	<%= f.text_field :description, class: "form-control" %>
  	<%= f.submit 'Post!', class: "btn btn-default" %>
  <% end %>
</div>