<% if @posts.any? %>
	<% @posts.each do |post| %>
		<li>
			<%= image_tag post.image.url(:medium) %>
			<%= post.description %>
			<%= link_to "Delete post", post_path(post), method: :delete %>
		</li>
	<% end %>
<% else %>
	No images
<% end %>
	<%= link_to "Post an image", new_post_path %>