<div class='postimageform'>
	<%= form_for @post, html: { multipart: true } do |f| %>
		<%= f.text_field :description , placeholder: "Description...", class: 'form-control' %>
		<%= f.file_field :image , class: 'btn btn-default' %>
		<%= f.submit 'Post!', class: 'btn btn-default' %>
	<% end %>
</div>