/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
	background-image: url('Scafell.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	opacity: 50%;
	padding-top: 80px;
}

h2 {
	margin-top: 10px;
}

.scroller {
	margin-top: 3px;
	max-height: 177px;
	overflow-y: scroll; 
}

.forgot-password-header {
	font-size: 22px;
}

#comment-button {
	margin-top: 9px;
}

h4 {
	margin-bottom: 2px;
}

img {
	width: 100%;
	border-width: 2px;
	border-color: black;
	border-radius: 4px;
}

.postimageform {
	max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
}

#post_description {
	margin-top: 7px;
	margin-bottom: 4px;
}

#description_text {
	font-size: 20px;
	width: 200px;
}

#post_image {
	margin-bottom: 7px;
	padding: 6px;
	height: 34px;
	width: 240px;
	margin-top: 7px;
}

.post-image {
	height: 250px;
	width: 327px;
	overflow: hidden;
	border-width: 2px;
	border-color: black;
	border-radius: 4px;
}

.comment {
	margin-bottom: 0px;
	font-style: italic;
	background-color: #E0E0E0;
}

.comment-holder {
	padding: 2px;
	padding-left: 5px;
	margin-top: 7px;
	margin-bottom: 7px;
	background-color: #E0E0E0;
	border-style: solid;
	border-color: #D9D9D9;
	border-width: 1px;	
	border-radius: 3px;
}

.page-header {
	margin-top: -20px;
	background-color: #2FA2B2;
	padding: 10px;
	padding-top: 10px;
}

.post-info {
	background-color: #E0E0E0;
	margin-bottom: 0px;
	color: #858585;
}

.likes-link {
	margin-right: 3px;
}

.navbar-btn {
	margin-top: 11px;
}

.navbar-right {
	margin-right: 7px;
	margin-left: 15px;
}

.navbar-default {
	padding: 5px;
	background: rgba(0,0,0,0.6);
	color: white;
	.navbar-text {
		font-weight: bold;
		margin-top: 7px;
		margin-bottom: 7px;
		font-size: 30px;
		color: white;
	}
}

.notice {
	text-align: center;
}

.alert {
	text-align: center;
	margin-bottom: 0px;
}

.panel-body {
	-webkit-box-shadow: 0px 0px 14px 0px rgba(51, 50, 50, 0.55);
	-moz-box-shadow:    0px 0px 14px 0px rgba(51, 50, 50, 0.55);
	box-shadow:         0px 0px 14px 0px rgba(51, 50, 50, 0.55);
	background-color: #F0F0F0;
	border-radius: 4px;
	padding-bottom: 2px;
	img {
		max-width: 100%;	
	}
}

.climbagram-link {
	color: white;
	text-decoration: none;
}

.climbagram-link:hover {
	color: #858585;
	text-decoration: none;	
}

/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
	width: 240px;
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.actions {
	margin-bottom: 7px;
	margin-top: 7px;
}
