.comment {
  margin-bottom: 0px;
  font-style: italic;
  background-color: #E0E0E0;
}

.comment-holder {
  padding: 2px;
  padding-left: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: #E0E0E0;
  border-style: solid;
  border-color: #D9D9D9;
  border-width: 1px;  
  border-radius: 3px;
}

#comment-button {
  margin-top: 9px;
}

#post-comment-form {
  visibility: visible;
}

